<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  </head>

  <!-- en el body se define la fuente, color y tamaño del texto, junto al color de fondo general. -->
  <body style="font-family: 'Montserrat'; font-size: 16px; sans-serif; color: rgb(73, 80, 87);
  padding: 5px; background-color: #f4f6f8;">
    <table style="margin: 170px auto 70px; width: 100%; max-width: 600px;">
      <tbody>
        <tr>
          <td>
            <!-- cuerpo principal del email, aquí se define el ancho máximo del milsmo y el color de fondo de la caja -->
            <table style="background-color: white; width: 100%; box-shadow: 0px 2px 8px 0px rgba(22, 67, 156, 0.04),
            0px 1px 2px 0px rgba(22, 67, 156, 0.1); border-radius: 4px; padding: 73px 35px 73px 73px;">
              <tbody>
                <tr>
                    <td>
                        <!-- enlace a imagen de logotipo -->
                        <img src="cid:[imgLogo]" alt="Laia"
                             style="max-height: 95px; margin-bottom: 75px;">
                    </td>
                </tr>
                <tr>
                  <td>
                    <!-- sección de texto -->
                      <p>
                          Hola, [user_name]:
                      </p>
                    <p>
                      <div>
                        Tu correo en Laia se cambiará a
                      </div>
                      <strong>
                          <!-- negrita -->
                          [user_resetEmail]
                      </strong>
                    </p>
                    <p>
                      A partir de ahora recibirá las notificaciones en esa dirección, 
                      la cual usará para identificarse en la plataforma.
                    </p>
                    <!-- fin de sección de texto -->
                  </td>
                </tr>
                <tr>
                  <td>
                    <p>
                      Saludos.
                    </p>
                  </td>
                </tr>
              </tbody>
            </table>
            <!-- fin de cuerpo principal de email -->
          </td>
        </tr>
        <tr>
          <td>
            <!-- copyright -->
              <p style="font-size: 14px; margin-top: 16px;">
                  © [yearCopy] LAIA
              </p>
            <!-- fin de copyright -->
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>