<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  </head>

  <!-- en el body se define la fuente, color y tamaño del texto, junto al color de fondo general. -->
  <body style="font-family: 'Montserrat'; font-size: 16px; sans-serif; color: rgb(73, 80, 87);
  padding: 5px; background-color: #f4f6f8;">
    <table style="margin: 170px auto 70px; width: 100%; max-width: 600px;">
      <tbody>
        <tr>
          <td>
            <!-- cuerpo principal del email, aquí se define el ancho máximo del milsmo y el color de fondo de la caja -->
            <table style="background-color: white; width: 100%; box-shadow: 0px 2px 8px 0px rgba(22, 67, 156, 0.04),
            0px 1px 2px 0px rgba(22, 67, 156, 0.1); border-radius: 4px; padding: 73px 35px 73px 73px;">
              <tbody>
                <tr>
                  <td>
                    <!-- enlace a imagen de logotipo -->
                    <img src="cid:[imgLogo]" alt="Laia"
                    style="max-height: 95px; margin-bottom: 75px;">
                  </td>
                </tr>
                <tr>
                  <td>
                    <!-- sección de texto -->
                    <p>
                      Hola:
                    </p>
                    <p>
                      Ha sido invitado a la plataforma Laia como [role_name] de [account_name].
                    </p>
                    <p>
                      Podrá acceder a la plataforma en el link:
                    </p>
                    <!-- fin de sección de texto -->
                    <!-- enlace -->
                    <a href="[site]" style="color: rgb(59, 201, 219);">
                        Accede a la plataforma
                    </a>
                    <!-- fin de enlace -->
                  </td>
                </tr>
                <tr>
                  <td>
                    <!-- sección de texto -->
                    <p style="margin-top: 36px;">
                      Identificándote con los siguientes datos:
                    </p>
                    <p>
                      <span>
                        E-Mail:
                      </span>
                      <strong>
                          <!-- negrita -->
                          [email]
                      </strong>
                    </p>
                    <p>
                      <span>
                        Contraseña:
                      </span>
                      <strong>
                          <!-- negrita -->
                          [password]
                      </strong>
                    </p>
                    <p>
                      Personalice su contraseña si lo desea en la sección:
                    </p>
                    <!-- fin de sección de texto -->
                    <!-- enlace -->
                    <a href="[site]/#/profile" style="color: rgb(59, 201, 219);">
                        Accede a los ajustes de tu cuenta
                    </a>
                    <!-- fin de enlace -->
                  </td>
                </tr>
                <tr>
                  <td>
                    <p style="padding-top: 36px;">
                      Saludos.
                    </p>
                  </td>
                </tr>
              </tbody>
            </table>
            <!-- fin de cuerpo principal de email -->
          </td>
        </tr>
        <tr>
          <td>
            <!-- copyright -->
              <p style="font-size: 14px; margin-top: 16px;">
                  © [yearCopy] LAIA
              </p>
            <!-- fin de copyright -->
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
